
@{
    ViewData["Title"] = "GetAge";
}

<h1>GetAge</h1>

<form method="post" action="Result">
    Your Age: <input type="number" name="Age" /> <br /> <br />
    Your Username: <input type="text" name="Username" /> <br />

    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
