
@{
    ViewData["Title"] = "RegistrationForm";
}

<h1>Coffee Registration Form</h1>

Let's sign you up! :) <hr />
Please enter the information requested below: <br />
<form action="/home/formresponse" method="post" style="font-size:2em; color:darkolivegreen; font-family:Constantia; background-color:lightcyan"> 
    First Name <input type="text" name="First"/> <br />
    Last Name <input type="text" name="Last"/> <br />
    Email <input type="email" name="Email" /><br /><br />

    Username <input type="text" name="Username" /><br />
    Password <input type="password" name="Password"/><br />
    <input type="submit" value="Submit!" />

</form>
